@model MVCAssignment.Models.Student

<div>
    <h4>@Model.Name</h4>

    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SId)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        
    </dl>

</div>


